

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
    </style>

    <style>
        .ui-datepicker-calendar tr td {
            padding: 2px !important;
        }
    </style>

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

   <link rel="stylesheet" href="~/dist/css/adminlte.min.css?v=3.2.0"> 
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
       
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center align-items-center">
                    <div class="image">
                        <img src="~/images/logo/oip.jpg" class="img-circle elevation-2" alt="Library Logo" style="width: 60px;" />
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item menu-open">
                            <a href="Dashboard" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <a href="BookList" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p> List of books</p>
                            </a>
                            <a href="BorrowedList" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p>Borrow books</p>
                            </a>
                            <a href="ReturnedList" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p>Return books</p>
                            </a>
                            <a href="RenewBorrowedBook" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p>Renew borrowed books</p>
                            </a>
                            <a class="nav-link" asp-controller="Home" asp-action="Login">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper" style="height:auto">

            @* <div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            </div>
            </div>
            </div>
            </div> *@
            @RenderBody()
        </div>


        <aside class="control-sidebar control-sidebar-dark">
        </aside>


        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>
    </div>




    <script src="~/plugins/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="~/plugins/datatables/jquery.datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $("#tblTable").DataTable({
                lengthMenu: [[10,25, 50, -1], [10,25, 50, "All"]],

            });
        });
    </script>


    @RenderSection("scripts", required: false)
    <script>
        $(window).on('load', (function () {
            $('#custom-loader').hide();
        }));
    </script>
</body>
</html>
